requests
WSDiscovery
opencv-python-headless
onvif-zeep
flask
pymysql
flask-sqlalchemy
flask-cors
cryptography
apscheduler
psutil
gunicorn
pyyaml
gitpython
func_timeout
paho_mqtt<2
flask_migrate
netifaces
pyserial